.div{
    width: 30%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    &__titulo{
        font-size: 20px;
        color: black;
    }
    &__clock{
        font-size: 15px;
    }
}