.div{
    width: 40%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 3px solid #cc1abd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    &__titulo{
        font-size: 30px;
        color: rgb(130, 12, 69);
    }
    &__clock{
        font-size: 25px;
        color: #2b358c;
    }
    &__botones{
        display: flex;
        gap: 20px;
        &--boton{
            background-color: #08ae98;
            width: 100px;
            height: 36px;
            border: none;
            border-radius: 10px;
        }
    }
}