.divPadre {
  width: 100%;
  height: 100vh;
  background-image: url(https://media4.giphy.com/media/aAXtF4kGYeZFe/giphy.gif?cid=ecf05e47up1884oszrwlsyhwxyamovpo30t88qck5hbkvupl&ep=v1_gifs_search&rid=giphy.gif&ct=g);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  &__contenedor {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}
