.divPadre {
  width: 100%;
  height: 100vh;
  background-image: url(https://media4.giphy.com/media/aAXtF4kGYeZFe/giphy.gif?cid=ecf05e47up1884oszrwlsyhwxyamovpo30t88qck5hbkvupl&ep=v1_gifs_search&rid=giphy.gif&ct=g);
  // background-color: #8C382B;
  // background-repeat: no-repeat; /* Set the background-repeat to no-repeat */
  // background-size: cover; /* This scales the image to cover the entire container */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  &__contenedor {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}
